doctype 5
html(ng-app='letsMeet')
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/css/style.css')

    //- Include the maps javascript with sensor=true because this code is using a
    //- sensor (a GPS locator) to determine the user's location.
    //- See: https://developers.google.com/apis/maps/documentation/javascript/basics#SpecifyingSensor
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true", type="text/javascript")
    script(src="/js/geolocation.js", type="text/javascript")

    script(src="/js/lib/angular/angular.js")
    script(src="/js/controllers.js")

  body(ng-controller="GeolocationListCtrl")
    block content