doctype 5
html(ng-app='letsMeet')
  head
    meta(charset='utf-8')
    title= "Let's Meet"
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

  body
    block body