body
  padding: 50px

a.btn, a.btn i, button, button i
  margin-right: 4px

.container
  width: 100%

@media (max-width: 768px)
  body
    padding: 30px
  .hero-unit
    padding: 20px
    h1
      font-size: 30px
  .form-horizontal
    .control-label
      width: 50px
    .controls
      margin-left: 70px
  input, textarea, .uneditable-input
    width: 142px
  table#maps
    th:first-child, td:first-child
      display: none
    .btn-small
      // make btn-small to look as btn-mini
      padding: 0 6px
      font-size: 10.5px
      -webkit-border-radius: 3px
      -moz-border-radius: 3px
      border-radius: 3px

@media (max-width: 480px)
  table#maps
    // show just the icon
    .btn-small
      i
        margin-right: 0
      span
        display: none