html, body, .container, .view, .controller
  height: 100%
  padding: 0
  width: 100%

a.btn, a.btn i, button, button i
  margin-right: 4px

.hero-unit
  background: rgba(0, 0, 0, .5);
  -webkit-border-radius: 0
  -moz-border-radius: 0
  border-radius: 0
  margin: 0
  padding: 10px 0
  position: fixed
  top: 0
  width: 100%
  z-index: 1
  h1
    color: white
    font-size: 30px
    margin: 0
  .pull-left
    padding-left: 10px
  .pull-right
    padding-right: 10px
