div(ng-controller="DeleteMapCtrl")
  h2 Delete Map

  table(class="table table-striped table-bordered")
    tbody
      tr
        td(class="span2")
          b Title
        td {{ map.title }}
      tr
        td(class="span2")
          b Description
        td {{ map.description }}

  form(class="form-horizontal")
    label Are you sure you want to delete this map?
    a(class="btn", href="/")
      i(class="icon-remove")
      | No thanks
    button(type="submit", class="btn btn-primary", ng-click="deleteMap()")
      i(class="icon-ok icon-white")
      | Yes