div(class="modal-header")
  button(type="button", class="close", data-dismiss="modal", aria-hidden="true") ×
  h3 Configuration
div(class="modal-body")
  form(class="form-horizontal")
    div(class="control-group")
      label(class="control-label") My Tag
      div(class="controls")
        input(type="text", ng-model="modal.peopleMarkerTag", placeholder="My Tag")
    div(class="control-group")
        label(class="control-label") Meeting Tag
        div(class="controls")
          input(type="text", ng-model="modal.meetMarkerTag", placeholder="Meeting Tag")
div(class="modal-footer")
  button(type="button", class="btn", ng-click="dismiss()") Close
  button(class="btn btn-primary", ng-click="saveModal(dismiss)") Save changes