div(ng-controller="NewMapCtrl")
  h2 Create Map
  form(class="form-horizontal")
    div(class="control-group")
      label(class="control-label") Title:
      div(class="controls")
        input(type="text", ng-model="form.title", placeholder="Title")
    div(class="control-group")
        label(class="control-label") Description:
        div(class="controls")
          textarea(ng-model="form.description", placeholder="Description")

    a(class="btn", href="/")
      i(class="icon-remove")
      | Cancel
    button(type="submit", class="btn btn-primary", ng-click="createMap()")
      i(class="icon-ok icon-white")
      | Create Map